.back-dropzone {
	position: absolute;
	z-index: 100;
	width: 20px;
	height: 100%;
}

.dropzone-hover {
	opacity: 1 !important;
}

.dropzone-hover-lite {
	border: dotted 2px #ddd;
	opacity: .5;
}

.dropzone.top {
	top: 0;
}

.dropzone.bottom {
	bottom: 0;
}

.back-dropzone.left {
	left: 0;
}

.back-dropzone.right {
	right: 0;
}

.decorator-dropzone {
	display: none;
}

.dropzone-hover-lite.decorator-dropzone {
	display: block;
	position: relative;
	height: 20px;
	border-radius: 4px;
	margin-bottom: 10px;
}