body {
    background-image: url('../images/BG-Dark-Grunge.jpg');
    background-size: 15%;
    color: #efefef;
    font-family: Times;
    font-size: 16px;
    padding-top: 70px;
}

hr.flair-divider {
	background-color: transparent;
    height: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-bottom: -15px;
}

hr.flair-divider:before {
    display: block;
    content: "";
    height: 20px;
    margin-top: -21px;    
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.navbar {
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.view-container{
    position: relative;
    top: 0;
    left: 0;
    margin: 0 50px;
}

/*Resume*/
.main-content {
    
}

.side-content {
    
}

.header {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.resume-address {
    text-align: right;
    margin-top: 10px;
    /*border-radius: 6px;
    border: solid 2px #6b8a92;
    box-shadow: -5px 5px 10px #aba6a6;*/
}

.resume-header {
    margin-bottom: 20px;
}

.resume-name {
    font-size: 16px;
    font-weight: 500;
}

.logo-image{
    max-height: 100px;
    max-width: 100%;
}

.xp-container {
    margin-bottom: 5px;
}

.xp-bar, .xp-bar * {
    -webkit-transition: all .75s ease-in-out;
       -moz-transition: all .75s ease-in-out;
        -ms-transition: all .75s ease-in-out;
         -o-transition: all .75s ease-in-out;
            transition: all .75s ease-in-out;
}

.xp-bar {
    display: block;
    height: 25px;
    border-radius: 15px;
    border: solid 2px #000060;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #c2cac6;
    box-shadow: 5px 5px 5px #2d2d2d;
}

.xp-bar-header {
    position: relative;
}

.xp-bar-title, .xp-bar-level {
    font-size: 14px;
    font-weight: 800;
    margin-left: 10px;
    font-family: georgia;
    text-overflow: ellipsis;
}

.xp-bar-level {
    position: absolute;
    right: 10px;
    top: 0;
}

.xp-bar-number {
    width: 100%;
    position: absolute;
    margin: auto;
    text-align: center;
    color: #222222
}

.xp-bar-back {
    height: 100%;
}

.xp-bar-stars {
    position: absolute;
    color: #f3ff00;
    right: 2px;
    top: 0;
    font-size: 16px;
}

.xp-bar-stars i {
    margin-right: 1px;
}